<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="icon" href="images/logo.png">
  <title>Nelfix | Home</title>
</head>

<body class="bg-slate-900 text-gray-100">
  <nav class="border-gray-600 bg-slate-800 fixed w-full z-20 top-0 start-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="images/logo.png" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Nelfix</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-slate-800 md:bg-slate-800 border-gray-700">
          <li>
            <a href="/"
              class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Home</a>
          </li>
          <li>
            <a href="/mylist"
              class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">My
              List</a>
          </li>
          <li>
            <a href="/profile"
              class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container mx-auto p-4 mt-20">
    <section class="mb-6 md:mb-9">
      <form class="max-w-md mx-auto">
        <label for="default-search" class="mb-2 text-sm font-medium sr-only text-white">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="search" id="default-search"
            class="block w-full p-4 ps-10 text-sm border rounded-lg bg-slate-800 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="Search Title, Director..." required />
          <button type="submit"
            class="text-white absolute end-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Search</button>
        </div>
      </form>

    </section>
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 sm:gap-5 justify-items-center">
      <div class="max-w-xs bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden mx-auto sm:max-w-sm md:max-w-md">
        <img class="w-full h-48 sm:h-64 object-cover"
          src="https://netlfixbucket.s3.ap-southeast-1.amazonaws.com/clzwoamus0000oqij55eg0d9c_cover_image"
          alt="Movie Cover">
        <div class="p-4 sm:p-6">
          <h3 class="text-lg sm:text-xl font-bold mb-2">Movie Title</h3>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 1C5.925 1 1 5.925 1 12c0 6.075 4.925 11 11 11 6.075 0 11-4.925 11-11C23 5.925 18.075 1 12 1zm0 19.93c-4.933 0-8.93-3.997-8.93-8.93 0-4.933 3.997-8.93 8.93-8.93 4.933 0 8.93 3.997 8.93 8.93 0 4.933-3.997 8.93-8.93 8.93z" />
              <path d="M12.5 7H11v6.5l5.25 3.15.75-1.23-4.5-2.67z" />
            </svg>
            Duration: 1h 45m
          </p>
          <div class="mb-3 flex flex-wrap">
            <span class="bg-indigo-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Action</span>
            <span class="bg-pink-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Adventure</span>
          </div>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2C6.486 2 2 6.486 2 12c0 5.514 4.486 10 10 10s10-4.486 10-10C22 6.486 17.514 2 12 2zm0 18c-1.506 0-2.926-.471-4.121-1.287.023-.33.046-.651.092-.974.274-1.869 2.48-3.351 4.029-3.351s3.755 1.482 4.029 3.351c.046.323.069.644.092.974A7.927 7.927 0 0 1 12 20zm5.528-5.82c-.525-.289-1.272-.373-1.777-.373-.787 0-1.646.143-2.517.508-.488.205-.813.667-1.234 1.023-.216-.281-.516-.637-.95-.873-.88-.482-2.079-.446-3.01.086-.619.346-.726 1.133-.781 1.621-.089.794-.125 2.263.825 3.25.796.833 1.999.992 2.724 1.034-.444-.172-.907-.376-1.311-.625-.614-.373-1.073-.987-1.143-1.787-.024-.258-.057-.568-.092-.858.175.08.367.152.573.222.816.271 2.067.252 3.087.167-.122.361-.195.764-.204 1.167 0 .579.226 1.167.635 1.583.398.406 1.079.518 1.722.382.489-.104.877-.376 1.069-.808.212-.479.249-1.058.1-1.565.973-.25 2.094-.4 2.706-1.106.576-.662.735-1.494.823-2.26.042-.37-.067-.736-.27-1.038z" />
            </svg>
            Director: John Doe
          </p>
          <div class="flex items-center justify-between">
            <span class="text-xl sm:text-2xl font-bold">$12.99</span>
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
              Watch Now
            </button>
          </div>
        </div>
      </div>
      <div class="max-w-xs bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden mx-auto sm:max-w-sm md:max-w-md">
        <img class="w-full h-48 sm:h-64 object-cover"
          src="https://netlfixbucket.s3.ap-southeast-1.amazonaws.com/clzwoamus0000oqij55eg0d9c_cover_image"
          alt="Movie Cover">
        <div class="p-4 sm:p-6">
          <h3 class="text-lg sm:text-xl font-bold mb-2">Movie Title</h3>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 1C5.925 1 1 5.925 1 12c0 6.075 4.925 11 11 11 6.075 0 11-4.925 11-11C23 5.925 18.075 1 12 1zm0 19.93c-4.933 0-8.93-3.997-8.93-8.93 0-4.933 3.997-8.93 8.93-8.93 4.933 0 8.93 3.997 8.93 8.93 0 4.933-3.997 8.93-8.93 8.93z" />
              <path d="M12.5 7H11v6.5l5.25 3.15.75-1.23-4.5-2.67z" />
            </svg>
            Duration: 1h 45m
          </p>
          <div class="mb-3 flex flex-wrap">
            <span class="bg-indigo-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Action</span>
            <span class="bg-pink-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Adventure</span>
          </div>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2C6.486 2 2 6.486 2 12c0 5.514 4.486 10 10 10s10-4.486 10-10C22 6.486 17.514 2 12 2zm0 18c-1.506 0-2.926-.471-4.121-1.287.023-.33.046-.651.092-.974.274-1.869 2.48-3.351 4.029-3.351s3.755 1.482 4.029 3.351c.046.323.069.644.092.974A7.927 7.927 0 0 1 12 20zm5.528-5.82c-.525-.289-1.272-.373-1.777-.373-.787 0-1.646.143-2.517.508-.488.205-.813.667-1.234 1.023-.216-.281-.516-.637-.95-.873-.88-.482-2.079-.446-3.01.086-.619.346-.726 1.133-.781 1.621-.089.794-.125 2.263.825 3.25.796.833 1.999.992 2.724 1.034-.444-.172-.907-.376-1.311-.625-.614-.373-1.073-.987-1.143-1.787-.024-.258-.057-.568-.092-.858.175.08.367.152.573.222.816.271 2.067.252 3.087.167-.122.361-.195.764-.204 1.167 0 .579.226 1.167.635 1.583.398.406 1.079.518 1.722.382.489-.104.877-.376 1.069-.808.212-.479.249-1.058.1-1.565.973-.25 2.094-.4 2.706-1.106.576-.662.735-1.494.823-2.26.042-.37-.067-.736-.27-1.038z" />
            </svg>
            Director: John Doe
          </p>
          <div class="flex items-center justify-between">
            <span class="text-xl sm:text-2xl font-bold">$12.99</span>
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
              Watch Now
            </button>
          </div>
        </div>
      </div>
      <div class="max-w-xs bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden mx-auto sm:max-w-sm md:max-w-md">
        <img class="w-full h-48 sm:h-64 object-cover"
          src="https://netlfixbucket.s3.ap-southeast-1.amazonaws.com/clzwoamus0000oqij55eg0d9c_cover_image"
          alt="Movie Cover">
        <div class="p-4 sm:p-6">
          <h3 class="text-lg sm:text-xl font-bold mb-2">Movie Title</h3>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 1C5.925 1 1 5.925 1 12c0 6.075 4.925 11 11 11 6.075 0 11-4.925 11-11C23 5.925 18.075 1 12 1zm0 19.93c-4.933 0-8.93-3.997-8.93-8.93 0-4.933 3.997-8.93 8.93-8.93 4.933 0 8.93 3.997 8.93 8.93 0 4.933-3.997 8.93-8.93 8.93z" />
              <path d="M12.5 7H11v6.5l5.25 3.15.75-1.23-4.5-2.67z" />
            </svg>
            Duration: 1h 45m
          </p>
          <div class="mb-3 flex flex-wrap">
            <span class="bg-indigo-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Action</span>
            <span class="bg-pink-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Adventure</span>
          </div>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2C6.486 2 2 6.486 2 12c0 5.514 4.486 10 10 10s10-4.486 10-10C22 6.486 17.514 2 12 2zm0 18c-1.506 0-2.926-.471-4.121-1.287.023-.33.046-.651.092-.974.274-1.869 2.48-3.351 4.029-3.351s3.755 1.482 4.029 3.351c.046.323.069.644.092.974A7.927 7.927 0 0 1 12 20zm5.528-5.82c-.525-.289-1.272-.373-1.777-.373-.787 0-1.646.143-2.517.508-.488.205-.813.667-1.234 1.023-.216-.281-.516-.637-.95-.873-.88-.482-2.079-.446-3.01.086-.619.346-.726 1.133-.781 1.621-.089.794-.125 2.263.825 3.25.796.833 1.999.992 2.724 1.034-.444-.172-.907-.376-1.311-.625-.614-.373-1.073-.987-1.143-1.787-.024-.258-.057-.568-.092-.858.175.08.367.152.573.222.816.271 2.067.252 3.087.167-.122.361-.195.764-.204 1.167 0 .579.226 1.167.635 1.583.398.406 1.079.518 1.722.382.489-.104.877-.376 1.069-.808.212-.479.249-1.058.1-1.565.973-.25 2.094-.4 2.706-1.106.576-.662.735-1.494.823-2.26.042-.37-.067-.736-.27-1.038z" />
            </svg>
            Director: John Doe
          </p>
          <div class="flex items-center justify-between">
            <span class="text-xl sm:text-2xl font-bold">$12.99</span>
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
              Watch Now
            </button>
          </div>
        </div>
      </div>
      <div class="max-w-xs bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden mx-auto sm:max-w-sm md:max-w-md">
        <img class="w-full h-48 sm:h-64 object-cover"
          src="https://netlfixbucket.s3.ap-southeast-1.amazonaws.com/clzwoamus0000oqij55eg0d9c_cover_image"
          alt="Movie Cover">
        <div class="p-4 sm:p-6">
          <h3 class="text-lg sm:text-xl font-bold mb-2">Movie Title</h3>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 1C5.925 1 1 5.925 1 12c0 6.075 4.925 11 11 11 6.075 0 11-4.925 11-11C23 5.925 18.075 1 12 1zm0 19.93c-4.933 0-8.93-3.997-8.93-8.93 0-4.933 3.997-8.93 8.93-8.93 4.933 0 8.93 3.997 8.93 8.93 0 4.933-3.997 8.93-8.93 8.93z" />
              <path d="M12.5 7H11v6.5l5.25 3.15.75-1.23-4.5-2.67z" />
            </svg>
            Duration: 1h 45m
          </p>
          <div class="mb-3 flex flex-wrap">
            <span class="bg-indigo-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Action</span>
            <span class="bg-pink-500 text-xs text-white px-2 py-1 rounded-full mb-2 mr-2">Adventure</span>
          </div>
          <p class="text-gray-400 mb-3">
            <svg class="inline-block w-4 h-4 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2C6.486 2 2 6.486 2 12c0 5.514 4.486 10 10 10s10-4.486 10-10C22 6.486 17.514 2 12 2zm0 18c-1.506 0-2.926-.471-4.121-1.287.023-.33.046-.651.092-.974.274-1.869 2.48-3.351 4.029-3.351s3.755 1.482 4.029 3.351c.046.323.069.644.092.974A7.927 7.927 0 0 1 12 20zm5.528-5.82c-.525-.289-1.272-.373-1.777-.373-.787 0-1.646.143-2.517.508-.488.205-.813.667-1.234 1.023-.216-.281-.516-.637-.95-.873-.88-.482-2.079-.446-3.01.086-.619.346-.726 1.133-.781 1.621-.089.794-.125 2.263.825 3.25.796.833 1.999.992 2.724 1.034-.444-.172-.907-.376-1.311-.625-.614-.373-1.073-.987-1.143-1.787-.024-.258-.057-.568-.092-.858.175.08.367.152.573.222.816.271 2.067.252 3.087.167-.122.361-.195.764-.204 1.167 0 .579.226 1.167.635 1.583.398.406 1.079.518 1.722.382.489-.104.877-.376 1.069-.808.212-.479.249-1.058.1-1.565.973-.25 2.094-.4 2.706-1.106.576-.662.735-1.494.823-2.26.042-.37-.067-.736-.27-1.038z" />
            </svg>
            Director: John Doe
          </p>
          <div class="flex items-center justify-between">
            <span class="text-xl sm:text-2xl font-bold">$12.99</span>
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
              Watch Now
            </button>
          </div>
        </div>
      </div>
    </section>
    <div class="w-full flex justify-center mt-10 mb-6">
      <nav aria-label="Page navigation example">
        <ul class="flex items-center -space-x-px h-10 text-base">
          <li>
            <a href="#"
              class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Previous</span>
              <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 1 1 5l4 4" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
          </li>
          <li>
            <a href="#" aria-current="page"
              class="z-10 flex items-center justify-center px-4 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Next</span>
              <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 9 4-4-4-4" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>

  <footer class="rounded-lg shadow bg-slate-800 py-5">
    <div class="w-full max-w-screen-xl mx-auto p-4">
      <span class="block text-sm text-center text-gray-400">© 2024 <a href="https://flowbite.com/"
          class="hover:underline">Nelfix™</a>. All Rights Reserved.</span>
    </div>
  </footer>

</body>

</html>