<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Browse page for Nelfix">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/logo.png">
  <title><%= title %></title>
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
</head>

<body class="bg-black text-gray-100 h-screen flex justify-center items-center">
  <video id="my-video" src="<%= video_url %>" class="video-js vjs-fluid" controls preload="auto" controlslist="nodownload" poster="<%= film.cover_image_url  ? film.cover_image_url : 'https://placehold.co/400x600' %>" data-setup='{ "playbackRates": [0.5, 1, 1.5, 2], "responsive": true, "controlBar": { "skipButtons": { "backward": 5, "forward": 5 } } }'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>

  <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
  <script>
    var player = videojs('my-video', {
      userActions: {
        hotkeys: function(event) {
          if (event.which === 37) {
            this.currentTime(this.currentTime() - 5);
          }
          if (event.which === 39) {
            this.currentTime(this.currentTime() + 5);
          }
        }
      }
    });
  </script>
</body>

</html>